* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition-duration: .1s;
	font-family: sans-serif;
}

html {
	background-color: #1d1d1d;
	color: white;
	scroll-behavior: smooth;
  overflow-x: hidden !important;
}

header > h1 {
	text-align: center;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
}

nav > a {
	margin: 5px 10px 5px 10px;
	text-decoration: none;
}

a {
	text-decoration: underline;
}

a:active {
	color: white;
}

a:visited {
	color: white;
}

main {
	margin: 50px auto 50px auto;
	max-width: 1200px;
	padding: 10px;
}